        #calculator {
          width: 250px;
          height: 350px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          font-size: 30px;
          font-weight: bold;
          border: 1px solid black;
        }

        .calculator-display {
          width: 75%;
          height: 20%;
          border: 1px solid black;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px;
          box-sizing: border-box;
        }

        .calculator-button {
          font-size: 1em;
          width: 25%;
          height: 20%;
          background-color: lightgreen;
          border: 1px solid black;

        }

        .number {
          background-color: darkgreen;
        }

        .operation {
          background-color: lightgreen;
        }

        .equals {
          background-color: lightgreen;
        }
